.account-wrapper {
    padding: 60px 100px;
    background: $white;
    max-width: 1000px;
    margin: 0 auto;
}

.voc-wrapper {
    padding: 60px;
    background: $white;
}

.sidebar {
    position: fixed;
    left: 0;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    background: $white;
    text-align: center;
    .menu {
        width: 100%;
        padding: 0;
        li {
            width: 100%;
            padding: 5px 0;
            a {
                padding: 10px 0;
                background: $border-color;
                display: block;
            }
        }
    }
}

.add-form-wrapper {
    padding: 60px;
    background: $white;
}